@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-dark: #2d3548;
    --text-light: rgba(255, 255, 255, 0.6);
    --text-lighter: rgba(255, 255, 255, 0.9);
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
    --width-container: 1200px;

    --background: #303030;
    --foreground: #424242;
    --text-color: #ffffff;
    --text-color-2: rgba(255, 255, 255, 0.6);
    --primary-color: #e91e63;
    --elevation-z1: 0 2px 1px -1px rgba(0, 0, 0, 0.2),
        0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    --elevation-z2: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
        0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    --hover: rgba(255, 255, 255, 0.04);
    --thumb: rgba(0, 0, 0, 0.25);
    --min-width: 400px;
    --max-width: 900px;
}

/* =========== nav bar =========== */

nav {
    display: flex;
    height: 80px;
    width: 100%;
    background: #ffffff;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
}

nav .logo {
    height: 80px;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li {
    margin: 0 5px;
    margin-top: 15px;
    font-family: 'Poppins', sans-serif;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    padding-top: 20px;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

nav .menu-btn i {
    color: rgb(0, 0, 0);
    font-size: 22px;
    cursor: pointer;
    display: none;
}

input[type="checkbox"] {
    display: none;
}

nav ul li a.active,
nav ul li a:hover {
    background: none;
    color: #19BDE8;
}

@media (max-width: 1000px) {
    nav {
        padding: 0 40px 0 50px;
    }
}

@media (max-width: 920px) {
    nav .menu-btn i {
        display: block;
    }

    #click:checked~.menu-btn i:before {
        content: "\f00d";
    }

    nav ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background: rgb(255, 255, 255);
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
        z-index: 100;
    }

    #click:checked~ul {
        left: 0;
    }

    nav ul li {
        width: 100%;
        margin: 40px 0;
    }

    nav ul li a {
        width: 100%;
        margin-left: -100%;
        display: block;
        font-size: 20px;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    #click:checked~ul li a {
        margin-left: 0px;
    }

    nav ul li a.active,
    nav ul li a:hover {
        background: none;
        color: cyan;
    }
}

/* ======== section-1 ======== */

.s1-main-header {
    font-size: 65px;
    text-align: left;
    color: black;
    font-weight: 900;
    padding-top: 20px;
    max-width: 1280px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
}

.grid-container-s1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    max-width: 1280px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}


.grid-child-p1 {
    width: 25%;
}

.grid-child-p2 {
    width: 75%;
}

.hero-section {
    align-items: flex-start;
    display: flex;
    min-height: fit-content;
    justify-content: center;
    padding: var(--spacing-xl) var(--spacing-l);
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: var(--spacing-l);
    grid-row-gap: var(--spacing-l);
    max-width: var(--width-container);
    width: 100%;
}

.category-card {
    list-style: none;
    position: relative;
    height: 150px;
}

.category-card:before {
    content: '';
    display: block;
    padding-bottom: 150%;
    width: 100%;
}

.card__background {
    background-size: cover;
    background-position: center;
    border-radius: var(--spacing-l);
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    transition:
        filter 200ms linear,
        transform 200ms linear;
}

.category-card:hover .card__background {
    transform: scale(1.05) translateZ(0);
}

.category-card-grid:hover>.category-card:not(:hover) .card__background {
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content {
    left: 0;
    padding: var(--spacing-l);
    position: absolute;
    top: 0;
}

.card__category {
    color: var(--text-light);
    font-size: 0.9rem;
    margin-bottom: var(--spacing-s);
    text-transform: uppercase;
}

.card__heading {
    color: var(--text-lighter);
    font-size: 1.5rem;
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
    line-height: 1.4;
    word-spacing: 100vw;
}

/* --------- text animation--------- */


.fade-in-bottom {
    -webkit-animation: fade-in-bottom 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in-bottom 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

/* --------- text animation end --------- */

/**
 * ----------------------------------------
 * animation fade-in-bottom cards
 * ----------------------------------------
 */

.fade-in-bottom-1 {
    -webkit-animation: fade-in-bottom-1 1.50s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.05s both;
    animation: fade-in-bottom-1 1.50s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.05s both;
}

.fade-in-bottom-2 {
    -webkit-animation: fade-in-bottom-2 1.80s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.1s both;
    animation: fade-in-bottom-2 1.80s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.1s both;
}

.fade-in-bottom-3 {
    -webkit-animation: fade-in-bottom-2 2.10s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.1s both;
    animation: fade-in-bottom-2 2.10s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.1s both;
}

.fade-in-bottom-4 {
    -webkit-animation: fade-in-bottom-2 2.40s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.1s both;
    animation: fade-in-bottom-2 2.40s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.1s both;
}

.fade-in-bottom-5 {
    -webkit-animation: fade-in-bottom-2 2.80s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.1s both;
    animation: fade-in-bottom-2 2.80s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.1s both;
}

.fade-in-bottom-6 {
    -webkit-animation: fade-in-bottom-2 3.10s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.1s both;
    animation: fade-in-bottom-2 3.10s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.1s both;
}

@-webkit-keyframes fade-in-bottom-1 {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in-bottom-1 {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@-webkit-keyframes fade-in-bottom-2 {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in-bottom-2 {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@-webkit-keyframes fade-in-bottom-3 {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in-bottom-3 {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@-webkit-keyframes fade-in-bottom-4 {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in-bottom-4 {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@-webkit-keyframes fade-in-bottom-5 {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in-bottom-5 {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@-webkit-keyframes fade-in-bottom-6 {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in-bottom-6 {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

/**
 * ----------------------------------------
 * animation fade-in-bottom cards end
 * ----------------------------------------
 */



@media(min-width: 540px) {
    .card-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width: 960px) {
    .card-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 900px) {

    .s1-main-header {
        font-size: 50px;
        text-align: center;
        color: black;
        font-weight: 900;
        padding-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .card-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-container-s1 {
        display: grid;
        grid-template-columns: 1fr !important;
        width: 100%;
        max-width: 1280px;
    }


    .grid-child-p1 {
        width: 100%;
    }

    .grid-child-p2 {
        width: 100%;
    }
}

/* -------expantion panels------- */

main {
    padding: 16px;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 7%;
}

.page-title {
    font-size: 12px;
}

.accordion {
    width: 100%;
    max-width: var(--max-width);
}

.expansion-panel {
    box-shadow: var(--elevation-z1);
    width: 100%;
    position: relative;
    background: white;
    transition: all 225ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: hidden;
}

.expansion-panel:nth-child(1) {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.expansion-panel:nth-last-child(1) {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.expansion-panel-header {
    height: 48px;
    cursor: pointer;
    outline: 0;
    width: 100%;
    background: none;
    border: 0;
    color: inherit;
    padding: 16px 24px;
    text-align: initial;
}

.expansion-panel-header-content {
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-auto-flow: column;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.expansion-panel-header .expansion-panel-description {
    color: var(--text-color-2);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 16px;
    font-size: 14px;
}

.expansion-panel-header .expansion-panel-indicator {
    border-style: solid;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    vertical-align: middle;
    width: 8px;
    height: 8px;
    transition: all 225ms cubic-bezier(0.4, 0, 0.2, 1);
}

.expansion-panel-body {
    min-height: 0px;
    height: 0;
    transition: all 225ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: hidden;
    visibility: hidden;
    line-height: 1.3;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.expansion-panel-body-content {
    position: relative;
    padding: 24px;
    line-height: 1.5;
}

.expansion-panel-body-content::before {
    left: 0px;
    top: 14px;
    height: 18px;
    width: 4px;
    position: absolute;
    border-radius: 4px;
}

.expansion-panel-header:hover,
.expansion-panel-header:focus {
    background: var(--hover);
}

.expansion-panel.active {
    box-shadow: var(--elevation-z2);
    margin: 16px 0;
    border-radius: 4px;
}

.expansion-panel.active .expansion-panel-indicator {
    transform: rotate(225deg);
}

.expansion-panel.active .expansion-panel-body {
    height: var(--ht, 220px);
    visibility: visible;
    -webkit-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
}




@media(max-width: 1200px) {

    main {
        padding: 16px;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 7%;
    }

}

/* -------expantion panels end------- */

/* ======== section-2 ======== */


.section-2-wrapper {
    max-width: 1280px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.s2-main-header {
    color: black;
    font-size: 30px;
    font-weight: 500;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -30px;
}

/* -------card design------- */

a {
    text-decoration: none;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.box {
    position: relative;
    min-width: 250px;
    max-width: 250px;
    height: 330px;
    background-color: #fff;
    box-shadow: 2px 3px 30px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    position: relative;
    border-radius: 10px;
    text-align: center;
}


.top-bar {
    width: 50%;
    height: 4px;
    background: #507bfc;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0px 0px 10px 10px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.fa-check-circle {
    color: #17b667;
}

/* creating heart */
.heart {
    color: rgba(155, 155, 155);
}

.heart::before {
    content: '\f004';
    font-family: fontawesome;
    line-height: 30px;
    cursor: pointer;
    z-index: 1;
    transition: all 0.3s;
}

.box .heart-btn:checked~.heart::before {
    color: #e41934
}

.heart-btn {
    position: absolute;
    top: 25px;
    right: 20px;
    padding: 1rem;
    display: none;
}

.content img {
    width: 120px;
    height: 120px;
    overflow: hidden;
    object-fit: cover;
    object-position: top;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content strong {
    font-weight: 500;
    color: #141414;
    margin-top: 10px;
}

.content p {
    font-size: 0.9rem;
    color: #7a7a7a;
    margin: 4px 0px 10px 0px;
    cursor: pointer;
}

.content p:hover {
    text-decoration: underline;
}

.btn {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: none;
}

.btn a i {
    margin-right: 9px;
}

.btn a {
    border-radius: 20px;
    color: #8b8b8b;
    padding: 8px 20px;
    font-size: 0.9rem;
}

.btn a:hover {
    color: #fff;
    box-shadow: 2px 5px 15px rgba(80, 123, 252, 0.05);
    background-color: #507bfc;
    transition: all ease 0.5s;
}

/* -------card design end------- */


/* ======== footer ======== */


.footer {
    background: #ebf4fa;
    color: #818494;
    padding-bottom: 0px;
    margin-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.logo {
    width: auto;
    height: 100px;
    padding-bottom: 10px;
    transition-duration: 0.5s;
}

.site-footer {
    padding-bottom: 0px;
}

.footer .links ul {
    list-style-type: none;
    text-decoration: none;
}

.footer .links li a {
    color: #818494;
    transition: color 0.2s;
    text-decoration: none;
}

.footer .links li a:hover {
    text-decoration: none;
    color: #4180cb;
}

.footer .about-company i {
    font-size: 25px;
}

.footer .about-company a {
    color: #818494;
    transition: color 0.2s;
}

.footer .about-company a:hover {
    color: #4180cb;
}

.footer .location i {
    font-size: 18px;
}

.footer-bottom {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}

.footer .copyright p {
    border-top: 1px solid #818494;
    color: #818494;
}

*:focus,
*:active {
    outline: none !important;
    -webkit-tap-highlight-color: transparent;
}

.wrapper {
    display: inline-flex;
}

.wrapper .icon {
    position: relative;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background-color: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background-color: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
    background-color: #3b5999;
    color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
    background-color: #46c1f6;
    color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
    background-color: #e1306c;
    color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
    background-color: #de463b;
    color: #ffffff;
}