@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* =========== nav bar =========== */

nav {
    display: flex;
    height: 80px;
    width: 100%;
    background: #ffffff;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
}

nav .logo {
    height: 80px;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li {
    margin: 0 5px;
    margin-top: 15px;
    font-family: 'Poppins', sans-serif;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    padding-top: 20px;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

nav .menu-btn i {
    color: rgb(0, 0, 0);
    font-size: 22px;
    cursor: pointer;
    display: none;
}

input[type="checkbox"] {
    display: none;
}

@media (max-width: 1000px) {
    nav {
        padding: 0 40px 0 50px;
    }
}

@media (max-width: 920px) {
    nav .menu-btn i {
        display: block;
    }

    #click:checked~.menu-btn i:before {
        content: "\f00d";
    }

    nav ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background: rgb(255, 255, 255);
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
        z-index: 100;
    }

    #click:checked~ul {
        left: 0;
    }

    nav ul li {
        width: 100%;
        margin: 40px 0;
    }

    nav ul li a {
        width: 100%;
        margin-left: -100%;
        display: block;
        font-size: 20px;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    #click:checked~ul li a {
        margin-left: 0px;
    }

    nav ul li a.active,
    nav ul li a:hover {
        background: none;
        color: cyan;
    }
}

/* =========== section-1 =========== */

.section-1 {
    max-width: 1280px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.grid-container-s1 {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.s1-img {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.s1-main-wrapper{
    margin-top: 3%;
}

.s1-text-main{
    margin-top: 5%;
}

.s1-header{
    width: 80%;    
}

.s1-para{
    width: 80%;
    padding-top: 15px;
}


@media (max-width: 980px) {

    .grid-container-s1 {
        display: grid;
        grid-template-columns: 1fr;
    
    }

    .s1-header{
        width: 90%;    
        margin: 0 auto;
    }
    
    .s1-para{
        width: 90%;
        margin: 0 auto;
        padding-top: 15px;
    }

}

/* =========== section-2 =========== */

.section-2 {
    max-width: 1280px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.s2-header{
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
}

.addition-info-wrapper{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 30px;
}



/* ======== footer ======== */


.footer {
    background: #ebf4fa;
    color: #818494;
    padding-bottom: 0px;
    margin-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.logo {
    width: auto;
    height: 100px;
    padding-bottom: 10px;
    transition-duration: 0.5s;
}

.site-footer {
    padding-bottom: 0px;
}

.footer .links ul {
    list-style-type: none;
    text-decoration: none;
}

.footer .links li a {
    color: #818494;
    transition: color 0.2s;
    text-decoration: none;
}

.footer .links li a:hover {
    text-decoration: none;
    color: #4180cb;
}

.footer .about-company i {
    font-size: 25px;
}

.footer .about-company a {
    color: #818494;
    transition: color 0.2s;
}

.footer .about-company a:hover {
    color: #4180cb;
}

.footer .location i {
    font-size: 18px;
}

.footer-bottom {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}

.footer .copyright p {
    border-top: 1px solid #818494;
    color: #818494;
}

*:focus,
*:active {
    outline: none !important;
    -webkit-tap-highlight-color: transparent;
}

.wrapper {
    display: inline-flex;
}

.wrapper .icon {
    position: relative;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background-color: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background-color: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
    background-color: #3b5999;
    color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
    background-color: #46c1f6;
    color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
    background-color: #e1306c;
    color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
    background-color: #de463b;
    color: #ffffff;
}